node_modules/
dist/
build/
output/
DerivedData/

backup-before-*/
backup-current-*/
temp-logic/
bbb/

mp-weixin/dist/
mp-weixin/node_modules/
mp-weixin/.swc/
mp-weixin/project.private.config.json

ios/App/App/public/
ios/**/xcuserdata/
ios/**/UserInterfaceState.xcuserstate
ios/Pods/

._*
.DS_Store
*.log
